.showModalBtn {
    width: 100px;
    height: 30px;
    display: inline-block;
}

.modalContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top:0;
    left: 0;
    display: none;
}

.modal {
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: move;
}

.closeBtn {
    cursor: pointer;
    position: absolute;
    top:5px;
    right: 5px;
}